Flask==3.0.0
numpy==1.24.3
openpyxl==3.1.2
pandas==2.0.3

wfastcgi==3.0.0

# 실행시 패키지 오류 발생시 밑 패키지를 재시 버전으로 재설치 권장
# blinker==1.8.2
# click==8.1.7
# colorama==0.4.6
# et-xmlfile==1.1.0
# itsdangerous==2.1.2
# Jinja2==3.1.2
# MarkupSafe==2.1.3
# python-dateutil==2.9.0
# pytz==2023.3
# setuptools==72.1.0 # 기본패키지
# six==1.16.0
# tzdata==2024.1
# Werkzeug==3.0.0